/* * {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
} */

.body {
  width: 100%;
  min-height: 87vh;
  background-image: url("../../assets/images/home-background.jpg");
  background-size: cover;
  background-position: center;
  /* position: relative; */
  /* top: 5rem; */
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h1 {
  color: white;
  font-size: 5rem;
  font-weight: 500;
  /* text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(0, 0, 0, 0.3); */
  text-shadow: -1px -1px 3px #020202, 2px 2px 4px #1b1b1b;
}

.second {
  color: #00d1cd !important;
  margin-left: 1.2rem;
}

.subtitle {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
}

.searchDiv {
  width: 60%;
  margin-top: 40px;
}

.searchDiv input {
  width: 79%;
  padding: 7px 20px;
  background-color: #fff;
  border: 1px solid black;
  outline: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 10px 0 0 0;
}

.searchDiv button {
  width: 15%;
  padding: 6px;
  background-color: black;
  border: 1px solid white;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0 0 10px 0;
  transition: ease-in 0.2s;
  text-align: center;
  cursor: pointer;
}

.searchDiv button:hover {
  color: #00d1cd;
  border: 1px solid #00d1cd;
  box-shadow: 0px 0px 10px 2px #00d1cd;
}

.search-btn a{
  text-decoration: none;
  color: #fff;
}
