.main-container {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(360deg, #2b4d82, #2890ac);
  min-height: 100vh;
  padding: 2rem 5rem;
}

.image-and-details-section{
  border: 1px solid red;
  width: 50%;
}

.ingredients-and-instructions-section{
  border: 1px solid #ccc;
  width: 50%;
}