.shimmer-main-container {
  display: flex;
  flex-direction: column;
  background: lightgrey;
  min-height: 100vh;
  padding: 2rem 5rem;
}

.shimmer-top-container {
  display: flex;
  flex-direction: row;
}

.shimmer-image-and-details-section {
  width: 35%;
}

.shimmer-image-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shimmer-image {
  width: 100%;
  background-image: linear-gradient(to right, #505250, #6b6e6b);
  border: 2px solid #ccc;
  box-shadow: 0 0 10px 2px grey;
  border-radius: 2rem 0;
  min-height: 27rem;
}

.shimmer-h1 {
  border: 2px solid #ccc;
  width: -webkit-fill-available;
  margin-top: 1rem;
  border-radius: 1rem 0;
  background-image: linear-gradient(to right, #505250, #6b6e6b);
  box-shadow: 0 0 10px 2px grey;
  min-height: 3rem;
}

.shimmer-all-details {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 1rem;
  padding-left: 1rem;
}

.shimmer-details-block {
  display: flex;
  background-image: linear-gradient(to right, #505250, #6b6e6b);
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 2rem 0 2rem 0;
  box-shadow: 0px 0px 10px grey;
}

.shimmer-effect {
  color: grey;
  mask: linear-gradient(120deg, #000 25%, #0005, #000 75%) right/250% 100%;
  animation: shimmer 2.5s infinite;
  background-repeat: no-repeat;
}
@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}
